
/* Body */

* {
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

h1,
h2, 
p
{
  font-family: "Verdana", Helvetica, Arial, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h1 {
    color: #FEFAE0;
    font-size: 32px;
}

h2,
p {
    color: #283618;
    margin: 0;
}


/* Navigation  */

header {
    background-color: #606C38;
    display: flex;
    grid-template-columns: 250px auto;
}

.logo {
    width: 100px;
    padding: 15px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    background-color: #606C38;
}

nav a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

ul {
    font-family: verdana;
    font-size: 20px;
    list-style: none;
}

ul.menuLinks li a {
    padding: .75rem 2vw;
    color: #FEFAE0;
    text-decoration: none;
}

ul.menuLinks li a.hover {
    color: #BC6C25;
}

ul.menuLinks {
    display: none;
    list-style-type: none; /* Effect large view */
}

ul.open {
    display:block;
}

.baseNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav#animateHamburger {
    flex-direction: column;
    width: 100%;
}

#hamburgerButton::before {
    content: "\2630";
    color: #FEFAE0;
}

#hamburgerButton.open::before {
    content: "x";
    font-family: verdana;
    color: #FEFAE0;
} 

#hamburgerButton {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    border: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FEFAE0;
}

/* Hero */

.hero-container {
    display: flex;
    min-height: inherit;
    height: auto;
    background-image: url("../images/vermont_farm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-overlay {
    background-color: rgb(40,54,24,0.5);  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.hero-title {
 text-align: center;
 color: #FEFAE0;
}

.hero-call-to-action {
  font-size: 24px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #FEFAE0;
  color: #283618;
}

/* Home Page - Events and Weather Cards */

section.events-and-weather {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.main-container {
    justify-content: space-evenly;  

    background-color: rgb(96,108,56,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 20px;
    margin: 20px;
}

.main-header-item h2,
.spotlight-header-item h2 {
    padding: 5px;
}


/* --- Home Page Banner --- */

.banner {
    display: none; /* Initially hide the banner */
    background-color: #56823b;
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
    position: fixed;
    width: 100%;    
    border: solid;
    border-color: #BC6C25;
    border-width: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


    top: 0;
    left: 0;
    z-index: 800;    
}

.main-content-item .banner p {
    color: #fff;
    padding: 3px;
    padding-bottom: 15px;
}

div.banner-text p{
    color:#fff;
    padding-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #283618;
} 

.banner-side img {
    width: 100%;    
    height: auto;
    overflow: hidden;
}

.banner-main {
    width: 95%;
    align-items: center;
}

.banner-content {
    display:flex;
    flex-direction: column;
    justify-items: center;
}

/* --- End Home Page Banner --- */

.main-content-item {
    display: flex;
    flex-direction: column; 
    padding: 5px;
}

.home-content-item {
    display: flex;
    flex-direction: row;
    font-family: verdana;
    font-size: 20px;
}

.main-content-img {
    width: 150px;
    border-radius: 15px; /* 5px rounded corners */
    padding: 10px;
}

.main-content-item p {
    padding: 5px;
    text-align: center;
    align-items: center;
}

.stats figure {
    align-items: center;
    text-align: center;
    padding: 0;
}

.stats p span#current-temp,
figcaption {
    font-family: verdana;
    font-size: 16px;
    color: #283618;
    margin: 0;
    border: 0;
    padding: 5px;
}

/* Home Page - Company Spotlights */

.spotlight-container {

    background-color: rgb(96,108,56,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
}

.spotlight-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.spotlight-container h2 {
    margin: 10px 0;
}

.spotlight-container p {
    margin: 5px 0;
}

/*
section.company-spotlight {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.spotlight-container {
    background-color: rgb(96,108,56,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 20px;
    margin: 20px;
}

.spotlight-content-item {
    display: flex;
    flex-direction: row;
}

*/


/* Discover Page */

body main.discover-page-container {
    display: flex; 
    flex-direction: column;
    background-color: #FEFAE0;
}

section.sidebar {
    width: 100%;
}

section.discover-content {
    width: 100%;
}

.sidebar-content-item p {
    font-size: 16px;
    font-family: Verdana;
    padding: 5px;
}

.sidebar-container {
    background-color: rgb(96,108,56,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 20px;
    margin: 20px  10px 20px;
}

.sidebar-content-item iframe,
.sidebar-content-item img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.discover-content-container {
    background-color: rgb(96,108,56,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 20px;
    margin: 20px 10px 20px;
}

.discover-content-item img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}

.discover-content-img:hover {
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    opacity: 0.75;
}

/* -- DIRECTORY PAGE --- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main.directory-page-container {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
    background-color: #FEFAE0;
	font-family: Verdana, Helvetica, sans-serif;
}

main.directory-page-container .menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #BC6C25;
	text-align: center;
}

main.directory-page-container .menu button {
    color: #FEFAE0;
    background-color: rgb(96, 108, 56, .5);
    border-radius: 6%;
    font-size: 20px;
	padding: .5rem;
	font-weight: 500;
}

article.grid section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: rgb(96, 108, 56, .5);
    border-radius: 3%;
}

article.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
    margin: 20px;
}

.grid section {
	text-align: center;
}

.grid section:hover {
    box-shadow: 0 0 10px #283618;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #283618;
}

.grid section > * {
	margin: 0.1rem;
}

p.gold {
    color: gold;
}

p.silver {
    color: rgb(133, 131, 131);
}

p.bronze {
    color: rgb(129, 106, 79);
}

p.free {
    color: rgb(40, 124, 75);
}

.grid h3 {
	font-family: "Caveat", cursive;
}

article.list {
	display: flex;
	flex-direction: column;
}

article.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

article.list section > * {
	margin: 0 1rem;
}

article.list section img {
	display: none; /* smaller viewports only */
}

article.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

article.list section:nth-child(even) {
	background-color: rgb(96, 108, 56, .5);
}

article.list section h3 {
	font-size: 16px;
}

article.list section p {
	font-weight: 600;
	font-size: smaller;
}

article.list section a {
	font-family: "Verdana", Arial, sans-serif;
	font-size: 0.85rem;
	color: #283618;
	letter-spacing: 1.1pt;
}

article.grid section img {
	height: 75px;
	max-width: 100%; 
}


/* --- JOIN PAGE --- */

main.join-page-container {
    display: flex; 
    flex-direction: column;
    background-color: #FEFAE0;
}

section.join-sidebar {
    /* width: 200px; */
    width: 100%;
}

.sidebar-container {
    font-family: verdana;
}

.sidebar-container p:before {
    content: ' \2043';
}

section.join-form-container {
    width: 100%;
}

.join-form-container h1 {
    text-align: left;
    padding-left: 20px;
    color: #283618;
}

#formmessage {
    color: red;
    padding: 10px;
    margin: 10px;
    font-family: verdana;
    font-size: 20px;

}

form label {
    font-family: verdana;
    font-size: 20px;
    display: block;
    padding: 10px;
    margin:10px;
}

#feedback {
    color: red;
}

input#join-chamber {
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
    font-size: 20px;
    font-family: verdana;
    width: 90%;
}

input[type=text], 
input[type=range], 
input[type=password],
input[type=email],
input[type=tel],
select,
textarea {
    display: block;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}


/* --- Thankyou.html ---*/

main.thankyou-page-container {
    display: flex; 
    background-color: #FEFAE0;
    justify-content: center;
    padding: 40px;
}

#record-container {
    display: flex;
    background-color: rgb(40, 38, 72, .25);
    border-radius: 6px;
    margin: 20px;
}
#record-msg-pg {
    font-family: verdana;
    font-size: 28px;
    color: rgb(40, 38, 72);
    padding: 20px;
}


/* Footer */

footer {

    background-color: #606C38;
    color: #FEFAE0;
    padding: 25px 50px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

#chamber-info,
.modified {
    color: #FEFAE0;
}

#chamber-of-commerce {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#chamber-of-commerce .social {
    padding: 15px;
}

footer p {
    font-size: 1.2em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #FEFAE0;
    font-size: 40px;
    text-align: center;
}

footer p a:hover {
    color: #FEFAE0;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


