@media screen and (min-width: 500px) {
    
    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 75px;
    background-color: #606C38;
    }

    nav a {
        text-align: center;
        text-decoration: none;
        color: #FEFAE0;
        padding: 35px;
        font-size: 25px;
    }

    nav ul li a:hover {
        color: #BC6C25;
    }

    nav#animateHamburger {
        display: flex;
        flex-direction: row;
    }
  
    #hamburgerButton {
        display: none;
    }  

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        /* background-color:rgb(233, 191, 41); */
    }

    /* Main Section: Events and Weather */

    .banner-content {
        flex-direction: row;
    }

    .close-btn {
        color: #fff;
    }

    .banner-side {
        max-width: 300px;
    }

    section.events-and-weather {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    section.company-spotlight {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-evenly;
    }

    /* --- Discover Page --- */
    body main.discover-page-container {
        flex-direction: row;
    }

    section.sidebar {
        width: 40%;
    }
    
    section.discover-content {
        width: 60%;
    }

    /* --- Join Page --- */

    main.join-page-container {
        flex-direction: row;
    }

    section.join-sidebar {
        width: 40%;
    }
    
    section.join-form-container {
        width: 60%;
    }

    img.discover-content-img:hover {
        box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
        opacity: 0.75;
    }

}