@media screen and (min-width: 500px) {
    header, footer, h3, .top {
        background-color: rgb(40, 38, 72);
        color: white;
    }

    nav {
        background-color: black;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        align-items: center; 
        justify-content: space-evenly;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr; 
    }

    .card.learning {
        grid-column: 1/2;
    }
    
    .card.information {
        grid-column: 2/3;
    }

    .hr-light {
        background-color:  #CCCCCC;
        height: 1px;
        width: 100%;
        border-style: none;
      } 


}