@media screen and (min-width: 500px) {
    header, footer, h3, .top {
        background-color: rgb(40, 38, 72);
        color: white;

        .container {
            display: grid;
            grid-template-columns: 2fr 1fr; 
        }
        
        .card.learning {
            grid-column: 1/2;
        }
        
        .card.information {
            grid-column: 2/3;
        }
    }

    nav {
        background-color: black;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        align-items: center; 
        justify-content: space-evenly;
    }


    main {
        display: flex;
        flex-direction: column;
    }

    .hr-light {
        background-color:  #CCCCCC;
        height: 1px;
        width: 100%;
        border-style: none;
      } 






}