@media screen and (min-width: 500px) {
    header, footer, h3, .top {
        background-color: rgb(40, 38, 72);
        color: white;
    }

    nav {
        background-color: rgb(233, 191, 41);
        /* grid-template-rows: 1fr */
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        align-items: center; 
        justify-content: center;
    }

    #animateHamburger > ul > li > a {
        color: rgb(40, 38, 72);
    }

    #hamburgerButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        background-color:rgb(233, 191, 41);
    }

    .herolabel {
        padding: .5rem;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr; 
    }

    .card.learning {
        grid-column: 1/2;
    }
    
    .card.information {
        grid-column: 2/3;
    }

    .hr-light {
        background-color:  #CCCCCC;
        height: 1px;
        width: 100%;
        border-style: none;
    } 

    .form-container {
        width: 50%;
    }

}